/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: #f0ece2;
}

/* Header Section */
header {
    background-color: #464646;
    color: #f0ece2;
    padding: 2em 0;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
    text-align: center;
    font-weight: bold;
}

.header-text {
    max-width: 50%;
    justify-content: start;
    align-items: start;
}

    .header-text h1 {
        margin: 0;
        font-size: 2.5em;
        padding: 0 3em;
    }

    .header-text p {
        margin: 0.5em 0;
        font-size: 1.2em;
    }

    .header-text .button {
        display: inline-block;
        margin-top: 1em;
        padding: 0.5em 1em;
        background-color: #555;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1em;
    }

/* Header UI Hover Design Section */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    gap: 3.67em;
}

nav li {
    margin: 0 1em;
}

    nav li:hover {
        transition: transform 0.3s ease;
        transform: scale(1.2);
    }

nav ul li a:hover {
    color: #d49a0d;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Into Section */
.intro {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.intro-content {
    text-align: center;
    color: white;
    z-index: 1;
}

    .intro-content h2 {
        font-size: 2.5em;
        text-align: center;
    }

    .intro-content ul {
        list-style: none;
        flex-direction: column;
        padding: 15px 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        font-size: 1.5em;
        color: #f0ece2;
    }

/* Project Tabs Section */
.projectInfo {
    padding: 5px;
    color: #f0ece2;
    border-top: 3px solid #444;
}

    .projectInfo ul {
        list-style: none;
        padding: 15px 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        color: #f0ece2;
        border-bottom: 3px solid #444;
    }

        .projectInfo ul li {
            margin: 0 10px;
            font-size: 1.5em;
            transition: transform 0.3s ease, font-size 0.3s ease;
        }

            .projectInfo ul li:hover {
                font-size: 2em;
                transform: scale(1);
            }

            .projectInfo ul li a {
                color: #f0ece2;
                text-decoration: none;
                transition: color 0.3s ease;
            }

                .projectInfo ul li a:hover {
                    color: #d49a0d;
                }

/* Overview Section */
.overview {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 3px solid #444;
}

    .overview video {
        display: block;
        width: 60%;
        max-width: 700px;
        height: auto;
        margin: 0 auto 30px auto;
    }

.overview-link {
    display: block;
    width: 60%;
    max-width: 700px;
    height: auto;
    margin: 0 auto 30px auto;
}

.overview-content {
    width: 90%;
    max-width: 900px;
    background: #2d2d2d;
    border: 2px solid #444;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
    padding: 30px;
    text-align: center;
    color: white;
}

    .overview-content p {
        text-align: center;
        color: #f0ece2;
        line-height: 1.8;
    }

    .overview-content ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 15px 0;
        margin: 0;
        color: #f0ece2;
    }

/* Contibution Section */
.contribution {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    width: 90%;
    margin: auto;
    padding: 50px 0;
    border-bottom: 3px solid #444;
}

/* Contribution Dectription */
.contribution-description {
    flex: 1;
    background: #2d2d2d;
    border: 2px solid #444;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
}

    .contribution-description h2 {
        margin-bottom: 20px;
    }

    .contribution-description p {
        line-height: 1.8;
        margin-bottom: 15px;
    }

    .contribution-description ul {
        list-style-type: disc;
        padding-left: 25px;
        margin-top: 20px;
        display: block;
    }

    .contribution-description li {
        margin-bottom: 10px;
        line-height: 1.6;
    }

/* Contribution Image */
.contribution-image {
    flex: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d2d2d;
    border: 2px solid #444;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
}

    .contribution-image img {
        width: 100%;
        max-width: 700px;
        height: auto;
        border-radius: 10px;
    }

/* Contribution Tabs */
.gallery-section {
    flex: 0 0 760px;
    background: #2d2d2d;
    border: 2px solid #444;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
}

.gallery-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

    .gallery-tabs button {
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        transition: .2s;
    }

        .gallery-tabs button:hover {
            color: gold;
            transform: scale(1.15);
        }

    .gallery-tabs h2 {
        width: 220px;
        text-align: center;
        font-size: 1.6rem;
    }


/* Contibution Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.mainImage {
    width: 700px;
    height: 394px;
    object-fit: contain;
    background: #1f1f1f;
    border-radius: 10px;
    border: 2px solid #444;
    cursor: pointer;
    display: block;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

    .thumbnails img {
        width: 120px;
        height: 68px;
        object-fit: cover;
        border: 3px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transition: all .25s ease;
    }

        .thumbnails img:hover {
            transform: scale(1.08);
        }

        .thumbnails img.active {
            border-color: gold;
        }

/* Document Link Section */
.doc-link {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #2d2d2d;
    border: 2px solid #d49a0d;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .doc-link:visited {
        color: #fff;
    }

    .doc-link:hover {
        background-color: #d49a0d;
        color: #1b1b1b;
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(212, 154, 13, 0.35);
    }


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
