/* ----------Header*/
/* ----------------------------------------*/
header {
    display: flex;
    flex-direction: row-reverse;
    height: 35vh;
    background-color: #35434dff;
    background-size: cover;
    background-position: center;
}

.header-2 {
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), url('../SiteImages/LePesteNoire_Screenshot_1.png');
    background-size: cover;
    background-position: center;
}

.header-3 {
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), url('../SiteImages/Bird_Wars_Screenshot_1.png');
    background-size: cover;
    background-position: center;
}

.header-4 {
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), url('../SiteImages/TeamDDM_Screenshot_5.png');
    background-size: cover;
    background-position: center;
}

.header-text-container {
    height: calc(80% - 9rem);
    display: flex;
    align-items: center;
}

    .header-text-container p {
        font: 2.4rem;
        margin: 1rem 0 2rem;
    }


body {
    color: beige;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: var(--navy-blue);
}
/* ----------------------------------------*/
/*----------Basic Setup*/
/* ----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid var(--gold);
    font: 2rem;
}

section {
    padding: 10rem 0;
}

.row {
    max-width: 1480px;
    margin: 0 auto;
}

h1, h2 {
    font-weight: 400;
}

h1 {
}

h2 {
    font-size: var(--fs-h2);
}

    h2::after {
        content: "";
        display: block;
        height: 0.3rem;
        width: 12rem;
        margin-top: 1rem;
        background-color: var(--gold);
    }

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

    h3::after {
        content: "";
        display: block;
        height: 0.3rem;
        width: 12rem;
        margin-top: 1rem;
        background-color: var(--gold);
    }

h4 {
    font-size: var(--font-size-normal);
    margin-bottom: var(--gutter-small);
}

    h4::after {
        content: "";
        display: block;
        height: 0.3rem;
        width: 80rem;
        margin-top: 1rem;
        background-color: var(--gold);
    }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6rem;
    height: 9rem;
}

    nav a {
        font-size: 2.2rem;
    }

html {
    font-size: 62.5%;
}

/*Root*/
:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;
    --line-height-normal: 1.7;
    --line-height-small: 1.2;
    --black: #000;
    --pink: #ff3258;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;
    --gold: #cea630;
    --navy-blue: #00375eff;
    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;
    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;
    --border-light: 1px solid rgb(36, 35, 35);
    --fs-h1: 7.5rem;
    --fs-h2: 3rem;
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

    .footer__github-buttons iframe {
        height: 2.5rem;
        width: 84px;
        transform: translateY(3px);
    }

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    }
}

p {
    color: snow;
}

/* --------------------------------------- */
/* ----- Image ----- */
/* --------------------------------------- */
.large-image {
    height: 90%;
    width: 90%;
    opacity: 90%;
    right: 80px;
}

    .large-image img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: linear 2s;
    }

.small-image {
    height: 40%;
    width: 40%;
    opacity: 75%;
    right: 20px;
}

    .small-image img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: linear 2s;
    }

.very-small-image {
    height: 5%;
    width: 5%;
    opacity: 75%;
    right: 20px;
}

    .very-small-image img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: linear 2s;
    }

img {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

    .image-container img {
        max-width: 100%;
        height: auto;
        margin: 10px;
    }

.viewMoreText {
    display: inline-block;
    font-size: 1em;
    transform: scale(1);
    font-weight: bold;
    transition: 0.2s linear;
}

    .viewMoreText img {
        width: 100%;
        height: auto;
    }

    .viewMoreText span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.15s linear;
    }

    .viewMoreText:hover {
        transform: scale(1.05);
        transition: 0.15s linear;
        animation-play-state: paused;
    }

        .viewMoreText:hover img {
            opacity: 0.25;
            transition: 0.2s linear;
        }

        .viewMoreText:hover span {
            opacity: 1;
        }

.project-left {
    margin: 1% 1% 1% 1%;
    float: left;
    height: auto;
    grid-area: projLeft;
}

.project-link {
    margin-bottom: 5%;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 0 2px #e67e22;
}

    .project-link a {
        text-decoration: none;
        font-family: Consolas;
    }

    .project-link:hover a {
        transform: scale(1.1);
        transition: linear 0.1s;
    }

.highlight-hover {
    transition: background-color 0.3s ease; /* Smooth transition */
}

    .highlight-hover:hover {
        background-color: ghostwhite; /* Highlight color */
        opacity: 0.75;
    }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    flex: 1;
}

/* --------------------------------------- */
/* ----- Work Box ----- */
/* --------------------------------------- */
.work__box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
}

.work__list {
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

    .work__code:hover {
        transform: scale(1.2);
    }

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}

/* --------------------------------------- */
/* ----- Image Hover ----- */
/* --------------------------------------- */

.image-hover {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.image-hover:hover .overlay {
    opacity: 1;
}



/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }

    .about__text {
        flex: 0 0 35%;
    }

    .about__photo-container {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}

.about__photo-container {
    margin-bottom: var(--gutter-normal);
}


/* --------------------------------------- */
/* ----- Link ----- */
/* --------------------------------------- */

.link {
    font-size: 3em;
}

    .link a {
        text-decoration: underline;
        color: white;
    }

/* --------------------------------------- */
/* ----- Resume ----- */
/* --------------------------------------- */

.resume-download {
    margin-bottom: 2%;
    color: white;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    height: 100%;
}

    .resume-download a {
        color: white;
        font-family: Consolas;
        font-size: 0;
        margin: 1%;
        display: inline;
    }

    .resume-download img {
        width: 10%; 
    }

.resume {
    text-align: center;
    color: white;
}

    .resume img {
        width: 50%;
    }
